@model InmobiliariaVargasHuancaTorrez.Models.Usuario

@{
    ViewData["Title"] = "Detalle del Usuario";
}

<div class="container">
    <h2>Detalle del Usuario</h2>
    <table class="table">
        <tr>
            <th>Avatar</th>
            @if(Model.Avatar!=null) 
				{
					<td><img src=@Model.Avatar alt="Avatar del usuario" width="100" /></td>
				}
				else 
				{
					<td><span>Sin foto</span></td>
				}
            
        </tr>
        <tr>
            <th>Nombre</th>
            <td>@Model.Nombre</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>@Model.Apellido</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Rol</th>
            <td>@((enRoles)Model.Rol)</td> <!-- Convertimos el número del rol a su representación en texto -->
        </tr>
        <tr>
            <th>Estado</th>
            <td>@(Model.Estado ? "Activo" : "Inactivo")</td>
        </tr>
    </table>
    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">Volver</a>
</div>
