@model InmobiliariaVargasHuancaTorrez.Models.Usuario
@{
    ViewData["Title"] = "Usuarios";
    var rnd = new Random();
}

<div class="row my-4 d-flex justify-content-center">
    <div class="col-md-5">
        @if (@Model.Id == 0)
        {
            <h2 class="text-center">Crear usuario</h2>
        }
        else
        {
            <h2 class="text-center">Editar usuario</h2>
        }
        <hr/>

        <form asp-action="Guardar" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id">

            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control">
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" type="password">
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <input type="hidden" name="Avatar" value=@Model.Avatar><!--este input sirve para mantener el avatar en el editar por si no lo quiere cambiar y lo envia vacio-->
            <div class="form-group mb-3">
                <label asp-for="AvatarFile" class="control-label"></label><br>
                @if(!String.IsNullOrEmpty(Model.Avatar)) 
				{
					var x = Model.Avatar + "?" + rnd.Next();
					<img class="rounded-circle" width="32" src="@x" />
				}
				else 
				{
					<strong>Sin foto</strong>
				}
                <input type="file" asp-for="AvatarFile" accept="image/*"/>
                <span asp-validation-for="AvatarFile" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Rol" class="control-label">Rol</label>
                <select class="form-select" name="Rol">
                    <option value="1" selected="@(Model.Rol==1)">Administrador</option>
                    <option value="2" selected="@(Model.Rol==2)">Empleado</option>
                </select>

            </div>

            <div class="form-group mb-3 d-grid gap-3">
                <input type="submit" value="Guardar" class="btn btn-primary">
                <a asp-action="Index" class="btn btn-outline-primary">Volver</a>
            </div>
        </form>

    </div>
</div>