@model IEnumerable<InmobiliariaVargasHuancaTorrez.Models.Usuario>
@{
    ViewData["Title"] = "Listado de Usuarios";
}

<div class="text-center">
    <h2 class="mt-4">Listado de Usuarios </h2>
    <a href="/Usuarios/Edicion" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Crear Usuario</a>
</div>

<table class="table" id="tablaUsuarios">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Avatar)</th>
            <th>@Html.DisplayNameFor(model => model.Rol)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Avatar)</td>
                <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a href="/Usuarios/Detalle/@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-info-circle"></i></a>
                    <a href="/Usuarios/Edicion/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pen"></i></a>
                    @if (item.Estado)
                    {
                        <a href="/Usuarios/Eliminar/@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i></a>
                    }
                    else
                    {
                        <a href="/Usuarios/Activar/@item.Id" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>