@model InmobiliariaVargasHuancaTorrez.Models.Contrato
@{
    ViewData["Title"] = "Contratos";
}

<div class="row my-4 d-flex justify-content-center">
    <div class="col-md-5">
        <h2 class="text-center">@(Model.Id == 0 ? "Crear Contrato" : "Editar Contrato")</h2>
        <hr />

        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group mb-3">
                <label class="control-label">Inquilino</label>
                <select class="form-select" name="Id_Inquilino">
                    @foreach (var item in ViewBag.Inquilinos)
                    {
                        @if (item.Id == Model.Id_Inquilino)
                        {
                            <option value="@item.Id" selected>@(item.ToString())</option>
                        }
                        @if (item.Estado && item.Id != Model.Id_Inquilino)
                        {
                            <option value="@item.Id">@(item.ToString())</option>
                        }
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Inmueble</label>
                <select class="form-select" id="selectInmueble" name="Id_Inmueble" onchange="handleInmuebleChange()">
                    @foreach (var item in ViewBag.Inmuebles)
                    {
                        @if (item.Id == Model.Id_Inmueble)
                        {
                            <option value="@item.Id" value="@item.Id" data-propietario-id="@item.Id_Propietario" data-propietario="@item.Propietario" data-precio="@item.Precio" selected>@(item.ToString())</option>
                        }
                        @if (item.Disponible && item.Estado && item.Id != Model.Id_Inmueble)
                        {
                            <option value="@item.Id" data-propietario-id="@item.Id_Propietario" data-propietario="@item.Propietario" data-precio="@item.Precio">@(item.ToString())</option>
                        }
                    }
                </select>
                <span asp-validation-for="Id_Inmueble" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Propietario</label>
                <select class="form-control" id="selectPropietario" name="Id_Propietario" disabled>
                </select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FechaInicio" class="control-label"></label>
                @if (@Model.Id == 0)
                {
                    <input asp-for="FechaInicio" type="date" class="form-control" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                }
                else
                {
                    <input asp-for="FechaInicio" type="date" class="form-control" />
                }
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FechaFin" class="control-label"></label>
                @if (@Model.Id == 0)
                {
                    <input asp-for="FechaFin" type="date" class="form-control" value=@DateTime.Now.ToString("yyyy-MM-dd")/>
                }
                else
                {
                    <input asp-for="FechaFin" type="date" class="form-control" />
                }
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            @if (Model.Id > 0)
            {
                <div class="form-group mb-3">
                    <label asp-for="MontoAlquiler" class="control-label"></label>
                    <input asp-for="MontoAlquiler" class="form-control" readonly />
                    <span asp-validation-for="MontoAlquiler" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="FechaTerminacion" class="control-label"></label>
                    <input asp-for="FechaTerminacion" type="date" class="form-control" id="inputFechaTerminacion" min=@Model.FechaInicio.ToString("yyyy-MM-dd") max=@Model.FechaFin.ToString("yyyy-MM-dd") />
                    <span asp-validation-for="FechaTerminacion" class="text-danger"></span>
                </div>

                <div class="form-group mb-4">
                    <label asp-for="Multa" class="control-label"></label>
                    <input asp-for="Multa" class="form-control" id="inputMulta" readonly />
                    <span asp-validation-for="Multa" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group mb-4">
                    <label asp-for="MontoAlquiler" class="control-label"></label>
                    <input asp-for="MontoAlquiler" class="form-control" id="inputMontoAlquiler" />
                    <span asp-validation-for="MontoAlquiler" class="text-danger"></span>
                </div>
            }

            <div class="form-group mb-3 d-grid">
                <input type="submit" value="Pagar Multa" class="btn btn-danger" id="btnCobrarMulta" style="display: none;" />
            </div>
            <div class="form-group mb-3 d-grid">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>

        </form>
    </div>
<div><a href="@Url.Action("Index", "Contratos")" class="btn btn-primary">Volver</a></div>
</div>

@section Scripts {
<script>
    function handleInmuebleChange() {
        var inmuebleSelect = document.getElementById('selectInmueble');
        var propietarioSelect = document.getElementById('selectPropietario');
        var montoAlquiler = document.querySelector('#inputMontoAlquiler');

        // Limpia el dropdown de propietarios
        propietarioSelect.innerHTML = "";

        // Obtén el inmueble seleccionado
        var selectedOption = inmuebleSelect.options[inmuebleSelect.selectedIndex];

        // Obtén el ID y nombre del propietario desde los atributos data
        var propietarioId = selectedOption.getAttribute('data-propietario-id');
        var propietario = selectedOption.getAttribute('data-propietario');

        if (propietarioId && propietario) {
            // Agrega la opción del propietario
            var option = document.createElement('option');
            option.value = propietarioId;
            option.text = propietario;
            propietarioSelect.appendChild(option);

            // Selecciona automáticamente el propietario
            propietarioSelect.value = propietarioId;
            montoAlquiler.value = selectedOption.getAttribute('data-precio');
        } else {
            // Si no hay propietarios asociados, muestra una opción vacía
            var option = document.createElement('option');
            option.value = "";
            option.text = "No hay propietarios disponibles";
            propietarioSelect.appendChild(option);
        }
    }

    // Ejecuta la función al cargar la página si hay un inmueble seleccionado por defecto
    document.addEventListener('DOMContentLoaded', function () {
        handleInmuebleChange();
    });

    document.getElementById("inputFechaTerminacion").addEventListener("change", function () {
        var fechaTerminacion = this.value;
        var fechaInicio = '@Model?.FechaInicio.ToString("yyyy-MM-dd")';
        var fechaFin = '@Model?.FechaFin.ToString("yyyy-MM-dd")';
        var montoAlquiler = @Model?.MontoAlquiler;

        if (fechaTerminacion) {
            // Llama a la acción de cálculo de multa
            $.ajax({
                url: '@Url.Action("CalcularMulta", "Contratos")',
                type: 'POST',
                data: {
                    fechaTerminacion: fechaTerminacion,
                    fechaInicio: fechaInicio,
                    fechaFin: fechaFin,
                    montoAlquiler: montoAlquiler
                },
                success: function (result) {
                    // Muestra la multa calculada
                    document.getElementById("inputMulta").value = result.multa;
                    //Mostrar boton Cobrar multa segun valor input MULTA                    
                    if(  document.getElementById("inputMulta").value > 0){ 
                    btnCobrarMulta.style.display = "block"; 
                    }else{btnCobrarMulta.style.display = "none";  
                    }
                }
            });
        }
    });
</script>
}

