@model IEnumerable<InmobiliariaVargasHuancaTorrez.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<div class="text-center">
    <h2 class="mt-4">Listado de Contratos</h2>
    <a href="/Contratos/Edicion" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Crear Contrato</a>
</div>
<table class="table" id="tablaContratos">
    <thead>
        <tr>
            <th>#</th>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Propietario</th>
            <th>Hasta</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.Inmueble?.Direccion
                </td>
                <td>
                    @($"{item.Inquilino?.Nombre} {item.Inquilino?.Apellido} {item.Inquilino?.Dni}")
                </td>
                <td>
                    @($"{item.Inmueble?.Propietario?.Nombre} {item.Inmueble?.Propietario?.Apellido} {item.Inmueble?.Propietario?.Dni}")
                </td>
                <td>
                    @item.FechaFin.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @(item.FechaTerminacion.HasValue ? "Terminado" : "En curso")
                </td>
                <td>
                    <a href="/Contratos/Detalle/@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-info-circle"></i></a>
                    <a href="/Contratos/Edicion/@item.Id" class="btn btn-sm btn-warning @(item.FechaTerminacion.HasValue ? "disabled" : "")"><i class="bi bi-pen"></i></a>
                    <a href="/Pagos/Index/@item.Id" class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Pagos">
                    <i class="bi bi-currency-dollar"></i></a>
                    @* @if (item.Estado)
                    {
                        <a href="/Contratos/Eliminar/@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i></a>
                    }
                    else
                    {
                        <a href="/Contratos/Habilitar/@item.Id" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i></a>
                    } *@
                </td>
            </tr>
        }
    </tbody>
</table>
