@model IEnumerable<InmobiliariaVargasHuancaTorrez.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
    @* var listaPropietarios = (IList<Propietario>)ViewBag.Propietarios;
var listaInquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
var listaInmuebles = (IList<Inmueble>)ViewBag.Inmuebles; *@
    var listaPropietarios = ViewBag.Propietarios as IList<InmobiliariaVargasHuancaTorrez.Models.Propietario>;
    var listaInquilinos = ViewBag.Inquilinos as IList<InmobiliariaVargasHuancaTorrez.Models.Inquilino>;
    var listaInmuebles = ViewBag.Inmuebles as IList<InmobiliariaVargasHuancaTorrez.Models.Inmueble>;
}

<div class="text-center">
    <h2 class="mt-4">Listado de Contratos</h2>
    <a href="/Contratos/Edicion" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Crear Contrato</a>
</div>
<table class="table" id="tablaContratos">
    <thead>
        <tr>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Propietario</th>
            <th>@Html.DisplayNameFor(model => model.First().FechaTerminacion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            @* direccion inmueble *@

            @* listaInmuebles "?" evita que se ejecute si es null *@
            var inmueble = listaInmuebles?.FirstOrDefault(p => p.Id_inmueble == item.Id_Inmueble);
            var direccion = inmueble != null ? $"{inmueble.Direccion}" : "Direccion no encontrada";

            @* nombre completo inquilino *@
            var inquilino = listaInquilinos?.FirstOrDefault(p => p.Id == item.Id_Inquilino);
            var nombreInquilino = inquilino != null ? $"{inquilino.Nombre} {inquilino.Apellido} {inquilino.Dni}" :
            "Inquilino no encontrado";

            @* nombre completo propietario *@
            var propietario = listaPropietarios?.FirstOrDefault(p => p.Id == item.Id_Propietario);
            var nombrePropietario = propietario != null ? $"{propietario.Nombre} {propietario.Apellido} {propietario.Dni}" :
            "Propietario no encontrado";



            <tr>
                <td>@direccion</td>
                <td>@nombreInquilino</td>
                <td>@nombrePropietario</td>
                <td>
                    @if (item.FechaTerminacion.HasValue)
                    {
                        @item.FechaTerminacion.Value.ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        <span>Contrato en curso</span>
                    }
                </td>
                <td>
                    <a href="/Contratos/Detalle/@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-info-circle"></i>
                        Detalle</a>
                    <a href="/Contratos/Edicion/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pen"></i>
                        Editar</a>
                    @if (item.Estado)
                    {
                        <a href="/Contratos/Eliminar/@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i>
                            Eliminar</a>
                    }
                    else
                    {
                        <a href="/Contratos/Activar/@item.Id" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i>
                            Activar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
