@model IEnumerable<InmobiliariaVargasHuancaTorrez.Models.Inmueble>
@{
    ViewData["Title"] = "Inmuebles";
}

<div class="my-4">
<div class="text-center">
    <h2>Listado de Inmuebles</h2>
    <a href="/Inmuebles/Edicion" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Crear Inmueble</a>
</div>

<form id="filterForm" asp-action="FiltrarContratosFechas"
    class="my-3 di d-flex flex-column justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <label for="filtroDesde">Desde:</label>
            <input name="fechaDesde" type="date" id="filtroDesde" class="form-control form-control-sm" />
        </div>
        <div class="col">
            <label for="filtroHasta">Hasta:</label>
            <input name="fechaHasta" type="date" id="filtroHasta" class="form-control form-control-sm" />
        </div>
        <div class="col">
            <button type="submit" id="filterButton" class="btn btn-sm btn-primary mt-4 width130px">Filtrar
                disponibles</button>
        </div>
        <div class="col">
            <a href="/Inmuebles/Index" type="button" id="clearButton"
                class="btn btn-sm btn-secondary mt-4">Limpiar</a>
        </div>
    </div>
</form>


<table class="table table-hover" id="tablaInmuebles">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Direccion</th>
            <th>Ambientes</th>
            <th>Precio</th>
            <th>Disponible</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tipo?.Descripcion</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.CantidadAmbientes)</td>
                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@(item.Disponible ? "Si" : "No")</td>
                <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                <td>
                    <a href="/Inmuebles/Detalle/@item.Id" class="btn btn-sm btn-primary"><i
                            class="bi bi-info-circle"></i></a>
                    <a href="/Inmuebles/Edicion/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pen"></i></a>
                    @if (!User.IsInRole("Empleado"))
                    {
                        @if (item.Estado)
                        {
                            <a href="/Inmuebles/Eliminar/@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i></a>
                        }
                        else
                        {
                            <a href="/Inmuebles/Activar/@item.Id" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i></a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>