@model IEnumerable<InmobiliariaVargasHuancaTorrez.Models.Inmueble>
@{
    ViewData["Title"] = "Listado de Inmueble";
}

<div class="text-center">
    <h2 class="mt-4">Listado de Inmuebles</h2>
    <a href="/Inmuebles/Edicion" class="btn btn-sm btn-success"><i class="bi bi-plus-lg"></i> Crear Inmueble</a>
</div>

<table class="table" id="tablaInmuebles">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Direccion</th>
            <th>Uso</th>
            <th>Ambientes</th>
            <th>Coordenadas</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tipo?.Descripcion</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Uso)</td>
                <td>@Html.DisplayFor(modelItem => item.CantidadAmbientes)</td>
                <td>@Html.DisplayFor(modelItem => item.Coordenadas)</td>
                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>
                    <a href="/Inmuebles/Detalle/@item.Id" class="btn btn-sm btn-primary"><i class="bi bi-info-circle"></i> Detalle</a>
                    <a href="/Inmuebles/Edicion/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pen"></i> Editar</a>
                    @if (item.Estado)
                    {
                        <a href="/Inmuebles/Eliminar/@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-x-lg"></i> Eliminar</a>
                    }
                    else
                    {
                        <a href="/Inmuebles/Activar/@item.Id" class="btn btn-sm btn-success"><i class="bi bi-check-lg"></i> Activar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
